.DS_Store
.vscode
node_modules
**/*/coverage
dist/tests
yarn-error.log
package-lock.json
coverage
npm-debug.log
.idea
dist
yarn-error.log
package/
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
index.js
index.js.map
index.d.ts